@import '~antd/dist/reset.css';

.h100 {
  height: calc(100vh - 1px);
}
.header{
  padding-inline: 10px;
  background-color: #ffffff;
  align-items: end;
}
body {
  background-color: #f5f5f5;
}
.container{
  margin: 10px 5%;
  background: #f5f5f5;
}
.layout{
  margin: 10px 10%;
}
.layout--mobile{
  margin: 0;
}
.btn-profile{
  margin-bottom: 10px;
  width: 100%;
  text-align: right;
}
.logout-box{
  padding-left: 24px;
  position: absolute;
  bottom: 38px;
  cursor: pointer;
  height: 32px;
  align-items: center;
  width: 93%;
}
.logout-text{
  margin-inline-start: 10px;
}
