.login-form{
    width: 500px;
}
.radio{
    margin-bottom: 10px;
    width: 100%;
}
.radio-button{
    width: 50%;
}

.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}

.ahref {
    color: #1677ff;
    cursor: pointer;
    &:hover {
        color: #69b1ff;
    }
    &:active{
        color: #0958d9;
    }
}