.filter-small{
    min-height: 37px;
    line-height: 0;
    width: 100%;
    text-align: end;
    margin-right: 6px;
}
.offset{
    padding-right: 5px;
}
.price{
    text-align: end;
    font-weight: bold;
}
.sub-price{
    text-align: end;
}
.title{
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.title:hover{
    color: #5e309e;
}
.header{
    text-align: center;
    color: #000000;
    height: 64px;
    padding-inline: 50px;
    line-height: 64px;
    background-color: #ffffff;
}
.content-style{
    text-align: left;
    min-height: 120px;
    line-height: 120px;
    color: #000;
    background-color: #eeeeee;
}
.footer-style{
    text-align: center;
    color: #fff;
    background-color: #7dbcea;
}
.price-modal{
    margin-right: 5px;
}