.filter-small{
    min-height: 37px;
    line-height: 0;
    width: 100%;
    text-align: end;
    margin-right: 6px;
}
.offset{
    padding-right: 5px;
}
.price{
    text-align: end;
    font-weight: bold;
}
.price-id{
    text-align: start;
    font-weight: bold;
    margin-right: 5px;
}
.sub-price{
    text-align: end;
}
.sub-price-id{
    text-align: start;
}
.title--st{
    font-weight: bold;
    font-size: 16px;
    color: #5b5b5b;
}
.title{
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: #5b5b5b;
}
.title:hover{
    color: #5e309e;
}
.content-style{
    text-align: left;
    min-height: 120px;
    line-height: 120px;
    color: #000;
    background-color: #eeeeee;
}
.footer-style{
    text-align: center;
    color: #fff;
    background-color: #7dbcea;
}
.price-modal{
    margin-right: 5px;
}
.tag{
    color: #7c7c7c;
    background: transparent;
    border-color: transparent;
}
.description_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 71px;
    font-size: 14px;
}
.tree-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
th, td {
    border: 1px solid grey;
    padding: 10px;
    overflow:hidden;
    white-space:nowrap;
}
.response{
    color: red;
    width: 18%;
    margin-bottom: 10px;
}